.Analytics h2{
    margin-left: 20px;
    color: rgb(87, 87, 91); 
    margin-bottom: 5px;
    font-size: 24px;
}
.Analytics p{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}