.updateTable{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 16px 20px;
    border: solid 0.5px black;
    border-bottom: none;
    flex: 1 1 500px;
    max-width: 750px;
    min-width: 0;
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width: 900px) {
    .updateTable{
        max-width: none;
    }
}
.updatecontent{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
}
.heading{
    display: flex; 
    flex-direction: row; 
    border-bottom:solid 0.5px black;
    background-color: rgb(230, 231, 232);
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}
.heading h3{
    padding: 6px 0px;
    margin: 0px;
    margin-left: 10px;
    color: rgb(87, 87, 91);
    font-size: 15px;

}
.heading a{
    padding: 6px 0px;
    margin: 0px;
    margin-right: 15px;
    color: blue;
    font-size: 13px;

}
.updateItem {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom:solid 0.5px black;
    background-color: white;
    padding: 6px 10px;
    gap:30px;
}
.updateItem img{
    height: 42px;
    border-radius:7px;
}
.title{
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    gap: 3px;

}
.title h2{
    margin: 0px;
    font-size: 15px;

}
.title h4{
    margin: 0px;
    font-weight: lighter;
    font-size: 12px;
}
.updateItem p{
    margin-left: auto;
    padding: 6px 20px;
    font-size: 12px;
}
